	<section class="feature portfolio <%= slug item[:title] %>">
		<aside>
			<h2><a href="/portfolio/<%= slug item[:title] %>"><%= item[:title] %></a></h2>
			<p><%= item[:summary] %></p>
			<p><a href="/portfolio/<%= slug item[:title] %>">More&#187;</a></p>
		</aside>
		<figure>
			<a href="/portfolio/<%= slug item[:title] %>"><span class="a"></span><span class="b"></span><span class="c"></span></a>
		</figure>
	</section>