<!DOCTYPE html>
<html>
<%
formats = [:hcard, :relLicense, :xfn]
if defined? mf then
	formats.concat(mf)
end
body = []
if defined? bodyClass then
	body.concat(bodyClass)
end
%>
<head>

	<title><%= @title %></title>
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-all" content="en-us" />
	<meta name="robots" content="follow, all" />
	<meta name="copyright" content="Copyright &copy; 2007-<%= DateTime.now.year %> Chris Basham" />
	<meta name="author" content="Chris Basham" />
	<meta name="keywords" content="chris basham human computer interaction design portfolio website development indiana university bloomington hci hcid" />
	<meta name="description" content="Chris Basham is a UX designer and web developer pursuing a masters in HCI/d at Indiana University Bloomington." />
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	
	<% for format in formats do %><link rel="profile" href="<%= $mfProfiles[format] %>" />
	<% end %>
	<link rel="stylesheet" href="/assets/css/main.css" type="text/css" media="screen" />
	<% if @css != '' then %><link rel="stylesheet" href="<%= @css %>" type="text/css" media="screen" />
	<% end %>
	<script type="text/javascript" src="http://use.typekit.com/oim8zsd.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
</head>

<body<%= tagAttr({ 'class' => body }) %>>

<header>
	<hgroup>
		<h1><a href="/">Chris <strong>Basham</strong></a></h1>
		<section>
			<h2>User experience designer in training.</h2>
			<h2>Web developer by trade.</h2>
		</section>
	</hgroup>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/portfolio">Portfolio</a></li>
			<li><a href="/resume">Resume</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>

<article><% block :content do %><% end %></article>

<footer><div class="contact vcard">

	<section id="tweet">
		<hgroup>
			<aside>
				<h2>Latest tweet</h2>
				<p><a href="http://twitter.com/chrisbasham" rel="me">Follow me</a> on Twitter.</p>
			</aside>
		</hgroup>
		<blockquote>
			<p>Oh, Prince of tortuous, sleepless morns (@nickbasham), why release hounds (Charlie) mins prior to rooster crow, upon thy slumbering servant?</p>
			<cite>from <a href="http://twitter.com/chrisbasham" rel="me">@chrisbasham</a> <a href="https://twitter.com/chrisbasham/status/7001626688">about 8 hours ago</a></cite>
		</blockquote>
	</section>

	<section id="summary">
		<aside>
			<h3>Featured projects</h3>
			<dl>
				<dt>Waterwall</dt>
				<dd>Interactive art installation</dd>
				<dd><a href="#"><img src="#" width="240" height="100"/></a></dd>
			</dl>
		</aside>
		<aside id="about">
			<h3>About Chris Basham</h3>
			<p><span class="fn">Chris Basham</span> is a <span class="title"><abbr title="User Experience">UX</abbr> designer and web developer</span> pursuing a masters in <a href="http://hcid.informatics.indiana.edu"><abbr title="Human-Computer Interaction Design">HCI/d</abbr></a> at <a href="http://www.iub.edu">Indiana University Bloomington</a>. <a href="/about">More&#187;</a></p>
			<p><a href="#">Download</a> or <a href="/resume">view</a> his resume.</p>
		</aside>
		<aside>
			<h3>Contact</h3>
			<dl>
				<dt>Phone</dt>
				<dd class="tel">812 459-9891</dd>
				<dt>Email</dt>
				<dd><a href="mailto:chris@bash.am" class="email">chris@bash.am</a></dd>
			</dl>
			<p><a href="http://feeds.technorati.com/contacts/referrer">Download vCard</a></p>
		</aside>
		<aside id="elsewhere">
			<h3>Elsewhere</h3>
			<ul>
				<li><a href="http://twitter.com/chrisbasham" rel="me">Twitter</a></li>
				<li><a href="http://www.facebook.com/chrisbasham" rel="me">Facebook</a></li>
				<li><a href="http://digg.com/users/chrisbasham" rel="me">Digg</a></li>
				<li><a href="http://delicious.com/cbasham" rel="me">Delicious</a></li>
				<li><a href="http://www.linkedin.com/in/cbasham" rel="me">LinkedIn</a></li>
			</ul>
		</aside>
	</section>

	<section id="colophon">
		<aside>
			<ul>
				<li><a href="http://validator.w3.org/check/referer" title="Check the validity of this site's XHTML">XHTML</a></li>
				<li><a href="http://jigsaw.w3.org/css-validator/check/referer" title="Check the validity of this site's CSS">CSS</a></li>
				<li><a href="http://microformats.org" title="This site supports Microformats">Microformats</a></li>
			</ul>
		</aside>
		<aside>
			<ul>
				<li><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" title="Creative Commons Attribution-Noncommercial-No Derivative Works 3.0 Unported" rel="license">Copyright &copy;</a> 2007-<%= DateTime.now.year %> <a href="http://bash.am" class="url">Chris Basham</a></li>
			</ul>	
		</aside>
		<aside>
			<ul>
				<li><a href="/colophon">Colophon</a></li>
			</ul>
		</aside>
		<div class="clear"></div>
	</section>

</div></footer>

<div id="extras">
	<div id="extra"></div>
</div>

</body>

</html>