<!DOCTYPE html>
<html>
<%

formats = [:hcard, :relLicense, :xfn]
if defined? mf then
	formats.concat(mf)
end

body = []
if defined? bodyClass then
	body.concat(bodyClass)
end

%>
<head>

	<title><%= @title %></title>
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="robots" content="follow, all" />
	<meta name="copyright" content="Copyright &copy; 2007-<%= DateTime.now.year %> Chris Basham" />
	<meta name="author" content="Chris Basham" />
	<meta name="keywords" content="chris basham human computer interaction design portfolio website development indiana university bloomington hci hcid" />
	<meta name="description" content="Chris Basham is a UX designer and web developer pursuing a masters in HCI/d at Indiana University Bloomington." />
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	
	<% for format in formats do %><link rel="profile" href="<%= $mfProfiles[format] %>" />
	<% end %>
	<link rel="stylesheet" href="/assets/css/main.css" type="text/css" media="screen" />
	<% if @css != '' then %><link rel="stylesheet" href="<%= @css %>" type="text/css" media="screen" />
	<% end %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="http://use.typekit.com/oim8zsd.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script type="text/javascript" src="/assets/js/fancyzoom.js"></script>
	<script type="text/javascript" src="/assets/js/fancyzoomhtml.js"></script>
	<script type="text/javascript">window.onload = function() { setupZoom(); }</script>

</head>

<body<%= tagAttr({ 'class' => body }) %>>

<header>
	<section>
		<h1><a href="/">Chris <strong>Basham</strong></a></h1>
		<hgroup>
			<h2>User experience designer in training.</h2>
			<h2>Web developer by trade.</h2>
		</hgroup>
	</section>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/portfolio">Portfolio</a></li>
			<li><a href="/resume">Resume</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>

<article><% block :content do %><% end %></article>

<footer><div class="contact vcard">

	<section id="summary">
		<aside>
			<h3><a href="/portfolio/<%= slug @randItem[:title] %>"><%= @randItem[:title] %></a></h3>
			<figure><a href="/portfolio/<%= slug @randItem[:title] %>"><img src="/assets/i/<%= imgSlug @randItem %>-pre-240.jpg" width="240" height="120" alt="<%= @randItem[:title] %>"/></a></figure>
			<p><a href="/portfolio">More portfolio items&#187;</a></p>
		</aside>
		<aside id="about">
			<h3>About Chris Basham</h3>
			<p><span class="fn">Chris Basham</span> is a <span class="title"><abbr title="User Experience">UX</abbr> designer and web developer</span> pursuing a masters in <a href="http://hcid.informatics.indiana.edu"><abbr title="Human-Computer Interaction Design">HCI/d</abbr></a> at <a href="http://www.iub.edu">Indiana University Bloomington</a>. <a href="/about">More&#187;</a></p>
			<p><a href="/assets/pdf/basham-resume.pdf">Download</a> or <a href="/resume">view</a> his resume.</p>
		</aside>
		<aside>
			<h3>Contact</h3>
			<dl>
				<dt>Phone</dt>
				<dd class="tel">812 459-9891</dd>
				<dt>Email</dt>
				<dd><a href="mailto:chris@bash.am" class="email">chris@bash.am</a></dd>
			</dl>
			<p><a href="http://feeds.technorati.com/contacts/referrer">Download vCard</a></p>
		</aside>
		<aside id="elsewhere">
			<h3>Elsewhere</h3>
			<ul>
				<li><a href="http://twitter.com/chrisbasham" rel="me">Twitter</a></li>
				<li><a href="http://www.facebook.com/chrisbasham" rel="me">Facebook</a></li>
				<li><a href="http://www.flickr.com/photos/chrisbasham" rel="me">Flickr</a></li>
				<li><a href="http://digg.com/users/chrisbasham" rel="me">Digg</a></li>
				<li><a href="http://delicious.com/cbasham" rel="me">Delicious</a></li>
				<li><a href="http://www.linkedin.com/in/cbasham" rel="me">LinkedIn</a></li>
			</ul>
		</aside>
	</section>

	<section id="colophon">
		<aside>
			<ul>
				<li><a href="http://validator.w3.org/check/referer" title="Check the validity of this site's HTML5">HTML5</a></li>
				<li><a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3" title="Check the validity of this site's CSS3">CSS3</a></li>
				<li><a href="http://microformats.org" title="This site supports Microformats">Microformats</a></li>
			</ul>
		</aside>
		<aside>
			<ul>
				<li><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" title="Creative Commons Attribution-Noncommercial-No Derivative Works 3.0 Unported" rel="license">Copyright &copy;</a> 2007-<%= DateTime.now.year %> <a href="http://bash.am" class="url">Chris Basham</a></li>
			</ul>	
		</aside>
		<aside>
			<ul>
				<li><a href="/colophon">Colophon</a></li>
			</ul>
		</aside>
		<div class="clear"></div>
	</section>

</div></footer>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-837636-4");
pageTracker._setDomainName(".bash.am");
pageTracker._trackPageview();
} catch(err) {}
</script>

</body>

</html>