
<% extends 'views/base.erb' %>

<% block :content do %>

	<hgroup>
		<h1>Portfolio</h1>
		<h2>Here are some cool things I did at some time.</h2>
	</hgroup>

	<% @portfolio.each do |item| %>	
	<section class="feature">
		<aside>
			<h2><a href="/portfolio/<%= slug item[:title] %>"><%= item[:title] %></a></h2>
			<p><%= item[:summary] %></p>
			<p><a href="/portfolio/<%= slug item[:title] %>">More&#187;</a></p>
		</aside>
		<figure>
			<a href="/portfolio/<%= slug item[:title] %>"><img src="/assets/i/<%= imgSlug item %>-pre-640.jpg" width="640" height="320" alt="<%= item[:title] %>"/></a>
		</figure>
	</section>
	<% end %>
	
	<section class="hide">
		<ul>
		<% @portfolio.each do |item| %>
			<li><a href="/portfolio/<%= slug item[:title] %>"><%= item[:title] %></a></li>
		<% end %>
		</ul>
	</section>

<% end %>
